In [16]:
import pandas as pd
import time
# Input is a start time and an end time
# Output is a print statement giving the time elapsed
def time_elapsed(start, end):
    # Compute time elapsed in seconds
    total_time_seconds = end-start 
    if total_time_seconds < 60:
        print("Total time elapsed =",total_time_seconds, "seconds")
    else:
        # In minutes 
        total_time_minutes = total_time_seconds/60 
        if total_time_minutes < 60: 
            print("Total time elapsed =", total_time_minutes, "minutes") 
        else: 
            # In hours
            total_time_hours = total_time_minutes/60 
            # Print the time elapsed in hours
            print("Total time elapsed =", total_time_hours, "hours")
from dbfread import DBF

start = time.time()
Indiana = pd.DataFrame()
for record in DBF("data/Indiana-shapefiles-and-files/Indiana.dbf"):
    df = pd.DataFrame([record.values()], columns=record)
    #print(df) # for debugging
    Indiana = pd.concat([Indiana, df], axis=0)
finish = time.time()
time_elapsed(start, finish)
Indiana.head()

Total time elapsed = 20.913796186447144 seconds

,SEND,CD,TOTPOP,NH_WHITE,NH_BLACK,NH_AMIN,NH_ASIAN,NH_NHPI,NH_OTHER,NH_2MORE,...,PRES16R,SEN16R,SEN16D,SEN16L,AG16D,AG16R,GOV16D,GOV16R,HDIST,H_ASIAN
0,043,06,986.0,925.0,20.0,7.0,12.0,0.0,1.0,8.0,...,332,276,142,34,106,335,150,289,057,0
0,043,06,645.0,563.0,0.0,1.0,47.0,0.0,4.0,4.0,...,222,221,128,14,103,236,129,223,057,0
0,043,06,1640.0,1444.0,14.0,2.0,6.0,1.0,0.0,16.0,...,460,429,203,36,150,498,211,432,057,0
0,043,06,1004.0,962.0,6.0,1.0,9.0,0.0,4.0,8.0,...,348,320,153,20,108,369,166,313,057,0
0,044,06,1742.0,1366.0,78.0,10.0,157.0,0.0,2.0,23.0,...,262,272,302,51,280,310,315,255,059,0

In [17]:
Indiana

,SEND,CD,TOTPOP,NH_WHITE,NH_BLACK,NH_AMIN,NH_ASIAN,NH_NHPI,NH_OTHER,NH_2MORE,...,PRES16R,SEN16R,SEN16D,SEN16L,AG16D,AG16R,GOV16D,GOV16R,HDIST,H_ASIAN
0,043,06,986.0,925.0,20.0,7.0,12.0,0.0,1.0,8.0,...,332,276,142,34,106,335,150,289,057,0
0,043,06,645.0,563.0,0.0,1.0,47.0,0.0,4.0,4.0,...,222,221,128,14,103,236,129,223,057,0
0,043,06,1640.0,1444.0,14.0,2.0,6.0,1.0,0.0,16.0,...,460,429,203,36,150,498,211,432,057,0
0,043,06,1004.0,962.0,6.0,1.0,9.0,0.0,4.0,8.0,...,348,320,153,20,108,369,166,313,057,0
0,044,06,1742.0,1366.0,78.0,10.0,157.0,0.0,2.0,23.0,...,262,272,302,51,280,310,315,255,059,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,006,01,836.0,745.0,21.0,0.0,8.0,0.0,0.0,11.0,...,406,333,428,36,436,335,457,315,019,0
0,006,01,1735.0,1572.0,5.0,1.0,10.0,0.0,0.0,23.0,...,406,333,428,36,436,335,457,315,019,0
0,006,01,1141.0,1004.0,25.0,3.0,16.0,0.0,0.0,4.0,...,406,333,428,36,436,335,457,315,019,1
0,006,01,1494.0,1167.0,68.0,5.0,71.0,0.0,0.0,17.0,...,406,333,428,36,436,335,457,315,019,0
0,006,01,1263.0,1141.0,10.0,0.0,13.0,0.0,0.0,4.0,...,406,333,428,36,436,335,457,315,019,0